.mainmenu
  .image-wrapper
    = image_tag "yasai.jpg", class: "main-img"
    .image-title
      %p.image-text 現在の畑
      %p.image-text おらが畑1
      .img-text-wrapper
        %p.image-text 情報
        = image_tag "kakashi.png", class: "kakashi"

  .fields
    .fields-menu
      %h2.fields-title 作物一覧
    .fields-contents
      - 3.times do |i|
        .field-content
          = link_to field_path(1), class: "content-wrapper" do
            .field-name
              %h3.hatake-name にんじん
            %h4 作業履歴：
            %ul.field-tasks
              - 5.times do |i|
                = link_to product_path(1) do
                  %li.field-task
                    %p.task 豆まき
                    %p.task yyyy/mm/dd
            .field-footer
              .field-footer-content
                = link_to "編集する", "#", class: "field-btn edit-btn"
                = link_to "削除する", "#", class: "field-btn delete-btn"
  .calendar
    .calendar-menu
      %h2.calendar-menu-text 作業履歴/予定
    .calendar-wrapper
      = month_calendar do |date|
        = date.day
  
